[Unit]
Description=Cacophony Project Thermal Video Recorder
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/thermal-recorder
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
